In [1]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\shabi\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\shabi\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install lxml

Requirement already satisfied: lxml in c:\users\shabi\anaconda3\lib\site-packages (5.2.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from bs4 import BeautifulSoup

In [4]:
with open("web.html",'r') as f:
    contents = f.read() #r:read,#w:write,a:append

In [5]:
print(contents)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraping Practice Page</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 40px; background-color: #f5f5f5;">

    <h1 style="color: #2c3e50; text-align:center;">Online Store - Web Scraping Practice</h1>
    <p style="text-align:center; color: #555;">A fake e-commerce site for learning data extraction</p>

    <hr>

    <!-- Product Section -->
    <h2 style="color:#1abc9c;">Electronics</h2>
    <div class="product" style="background-color:white; padding:15px; border-radius:10px; margin-bottom:15px;">
        <h3 class="name" style="color:#34495e;">Smartphone A1</h3>
        <p class="price" style="color:#e74c3c;">Price: $499</p>
        <p class="rating" style="color:#f39c12;">Rating: 4.5/5</p>
        <p class="stock" style="color:green;">In Stock</p>
        <a href="https://example.com/product/a1" class="link">View Product</a>
    </div>

    <div class="product" style="background-color:white; padding:15px; border-radius:10px; margin-bottom:15px;">
        <h3 class="name" style="color:#34495e;">Laptop Z5</h3>
        <p class="price" style="color:#e74c3c;">Price: $899</p>
        <p class="rating" style="color:#f39c12;">Rating: 4.7/5</p>
        <p class="stock" style="color:red;">Out of Stock</p>
        <a href="https://example.com/product/z5" class="link">View Product</a>
    </div>

    <!-- Books Section -->
    <h2 style="color:#1abc9c;">Books</h2>
    <ul style="background-color:white; padding:15px; border-radius:10px;">
        <li>
            <span class="title" style="font-weight:bold;">Learning Python</span> -
            <span class="author">Mark Lutz</span>
            <span class="price" style="color:#e74c3c;">($45)</span>
        </li>
        <li>
            <span class="title" style="font-weight:bold;">Data Science from Scratch</span> -
            <span class="author">Joel Grus</span>
            <span class="price" style="color:#e74c3c;">($39)</span>
        </li>
        <li>
            <span class="title" style="font-weight:bold;">Python for Data Analysis</span> -
            <span class="author">Wes McKinney</span>
            <span class="price" style="color:#e74c3c;">($50)</span>
        </li>
    </ul>

    <!-- Employee Table -->
    <h2 style="color:#1abc9c;">Employee Directory</h2>
    <table border="1" cellpadding="8" style="border-collapse:collapse; width:100%; background-color:white;">
        <thead style="background-color:#2ecc71; color:white;">
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Department</th>
                <th>Salary ($)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alice Johnson</td>
                <td>Data Analyst</td>
                <td>Analytics</td>
                <td>65000</td>
            </tr>
            <tr>
                <td>Robert Brown</td>
                <td>Web Developer</td>
                <td>IT</td>
                <td>72000</td>
            </tr>
            <tr>
                <td>Maria Lopez</td>
                <td>Project Manager</td>
                <td>Operations</td>
                <td>85000</td>
            </tr>
        </tbody>
    </table>

    <!-- Miscellaneous Section -->
    <h2 style="color:#1abc9c;">Recent Blog Posts</h2>
    <div class="blog" style="background-color:white; padding:15px; border-radius:10px;">
        <h3 class="title">How AI is Changing Data Analytics</h3>
        <p class="date" style="color:#7f8c8d;">Published: 2025-10-20</p>
        <p class="content">Artificial Intelligence (AI) has become a major part of modern data analytics. From automated reporting to predictive modeling, AI is revolutionizing how analysts work.</p>
        <a href="https://example.com/blog/ai-data" class="readmore">Read More</a>
    </div>

    <div class="blog" style="background-color:white; padding:15px; border-radius:10px;">
        <h3 class="title">Top 5 Tools for Data Visualization</h3>
        <p class="date" style="color:#7f8c8d;">Published: 2025-09-18</p>
        <p class="content">Data visualization tools like Power BI, Tableau, and matplotlib help transform raw data into actionable insights with clarity and efficiency.</p>
        <a href="https://example.com/blog/visualization-tools" class="readmore">Read More</a>
    </div>

    <footer style="margin-top:40px; text-align:center; color:#777;">
        <p>&copy; 2025 WebScrape Training. All rights reserved.</p>
    </footer>

</body>
</html>

In [6]:
soup=BeautifulSoup(contents, 'lxml') #string to lxml parser
print(soup.prettify())

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Web Scraping Practice Page
  </title>
 </head>
 <body style="font-family: Arial, sans-serif; margin: 40px; background-color: #f5f5f5;">
  <h1 style="color: #2c3e50; text-align:center;">
   Online Store - Web Scraping Practice
  </h1>
  <p style="text-align:center; color: #555;">
   A fake e-commerce site for learning data extraction
  </p>
  <hr/>
  <!-- Product Section -->
  <h2 style="color:#1abc9c;">
   Electronics
  </h2>
  <div class="product" style="background-color:white; padding:15px; border-radius:10px; margin-bottom:15px;">
   <h3 class="name" style="color:#34495e;">
    Smartphone A1
   </h3>
   <p class="price" style="color:#e74c3c;">
    Price: $499
   </p>
   <p class="rating" style="color:#f39c12;">
    Rating: 4.5/5
   </p>
   <p class="stock" style="color:green;">
    In Stock
   </p>
   <a class="link" href="https://example.com/product/a1">
    View Product
   </a>
  </div>
  <div class="product" style="background-color:white; padding:15px; border-radius:10px; margin-bottom:15px;">
   <h3 class="name" style="color:#34495e;">
    Laptop Z5
   </h3>
   <p class="price" style="color:#e74c3c;">
    Price: $899
   </p>
   <p class="rating" style="color:#f39c12;">
    Rating: 4.7/5
   </p>
   <p class="stock" style="color:red;">
    Out of Stock
   </p>
   <a class="link" href="https://example.com/product/z5">
    View Product
   </a>
  </div>
  <!-- Books Section -->
  <h2 style="color:#1abc9c;">
   Books
  </h2>
  <ul style="background-color:white; padding:15px; border-radius:10px;">
   <li>
    <span class="title" style="font-weight:bold;">
     Learning Python
    </span>
    -
    <span class="author">
     Mark Lutz
    </span>
    <span class="price" style="color:#e74c3c;">
     ($45)
    </span>
   </li>
   <li>
    <span class="title" style="font-weight:bold;">
     Data Science from Scratch
    </span>
    -
    <span class="author">
     Joel Grus
    </span>
    <span class="price" style="color:#e74c3c;">
     ($39)
    </span>
   </li>
   <li>
    <span class="title" style="font-weight:bold;">
     Python for Data Analysis
    </span>
    -
    <span class="author">
     Wes McKinney
    </span>
    <span class="price" style="color:#e74c3c;">
     ($50)
    </span>
   </li>
  </ul>
  <!-- Employee Table -->
  <h2 style="color:#1abc9c;">
   Employee Directory
  </h2>
  <table border="1" cellpadding="8" style="border-collapse:collapse; width:100%; background-color:white;">
   <thead style="background-color:#2ecc71; color:white;">
    <tr>
     <th>
      Name
     </th>
     <th>
      Position
     </th>
     <th>
      Department
     </th>
     <th>
      Salary ($)
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      Alice Johnson
     </td>
     <td>
      Data Analyst
     </td>
     <td>
      Analytics
     </td>
     <td>
      65000
     </td>
    </tr>
    <tr>
     <td>
      Robert Brown
     </td>
     <td>
      Web Developer
     </td>
     <td>
      IT
     </td>
     <td>
      72000
     </td>
    </tr>
    <tr>
     <td>
      Maria Lopez
     </td>
     <td>
      Project Manager
     </td>
     <td>
      Operations
     </td>
     <td>
      85000
     </td>
    </tr>
   </tbody>
  </table>
  <!-- Miscellaneous Section -->
  <h2 style="color:#1abc9c;">
   Recent Blog Posts
  </h2>
  <div class="blog" style="background-color:white; padding:15px; border-radius:10px;">
   <h3 class="title">
    How AI is Changing Data Analytics
   </h3>
   <p class="date" style="color:#7f8c8d;">
    Published: 2025-10-20
   </p>
   <p class="content">
    Artificial Intelligence (AI) has become a major part of modern data analytics. From automated reporting to predictive modeling, AI is revolutionizing how analysts work.
   </p>
   <a class="readmore" href="https://example.com/blog/ai-data">
    Read More
   </a>
  </div>
  <div class="blog" style="background-color:white; padding:15px; border-radius:10px;">
   <h3 class="title">
    Top 5 Tools for Data Visualization
   </h3>
   <p class="date" style="color:#7f8c8d;">
    Published: 2025-09-18
   </p>
   <p class="content">
    Data visualization tools like Power BI, Tableau, and matplotlib help transform raw data into actionable insights with clarity and efficiency.
   </p>
   <a class="readmore" href="https://example.com/blog/visualization-tools">
    Read More
   </a>
  </div>
  <footer style="margin-top:40px; text-align:center; color:#777;">
   <p>
    Â© 2025 WebScrape Training. All rights reserved.
   </p>
  </footer>
 </body>
</html>

In [7]:
h3_tags=soup.find_all('h3') #find all h3 tags #find will only find first one, find_all finds all
print(h3_tags)

[<h3 class="name" style="color:#34495e;">Smartphone A1</h3>, <h3 class="name" style="color:#34495e;">Laptop Z5</h3>, <h3 class="title">How AI is Changing Data Analytics</h3>, <h3 class="title">Top 5 Tools for Data Visualization</h3>]

In [8]:
for tag in h3_tags:
    print(tag.text)

Smartphone A1
Laptop Z5
How AI is Changing Data Analytics
Top 5 Tools for Data Visualization

In [10]:
prod=soup.find_all(class_='link') #find all with class 'link'
for p in prod:
    print(p.text)

View Product
View Product

In [11]:
rmore=soup.find_all(class_='readmore') #find all with class 'readmore'
for r in rmore:
    print(r.text)

Read More
Read More

In [12]:
table=soup.find('table') #find all with class 'table'
headers=[th.text.strip() for th in table.find_all('th')] 
print(headers)

['Name', 'Position', 'Department', 'Salary ($)']

In [13]:
rows=table.find('tbody').find_all('tr')
for row in rows:
    data=[td.text.strip() for td in row.find_all('td')]
    print(data)

['Alice Johnson', 'Data Analyst', 'Analytics', '65000']
['Robert Brown', 'Web Developer', 'IT', '72000']
['Maria Lopez', 'Project Manager', 'Operations', '85000']

In [14]:
import pandas as pd

In [22]:
data=[]
for row in rows:
    data.append([td.text.strip() for td in row.find_all('td')])
df=pd.DataFrame(data, columns=headers)
print(df)

            Name         Position  Department Salary ($)
0  Alice Johnson     Data Analyst   Analytics      65000
1   Robert Brown    Web Developer          IT      72000
2    Maria Lopez  Project Manager  Operations      85000

In [20]:
#more filtering using soup
s=BeautifulSoup(contents, 'lxml')
recent=s.find('div', class_='blog') #find div with id recent-posts
print(recent.text)

How AI is Changing Data Analytics
Published: 2025-10-20
Artificial Intelligence (AI) has become a major part of modern data analytics. From automated reporting to predictive modeling, AI is revolutionizing how analysts work.
Read More

In [28]:
recent_blogs=s.find_all('div', class_='blog')
recent_titles=['Title','Date','Text','Link']
blog_data=[]
for blog in recent_blogs:
    title=blog.find('h3', class_='title').text.strip()
    date=blog.find('p', class_='date').text.strip()
    text=blog.find('p', class_='content').text.strip()
    link=blog.find('a', class_='readmore')['href']
    blog_data.append([title, date, text,link])

df_blogs=pd.DataFrame(blog_data, columns=recent_titles)
df_blogs

,Title,Date,Text,Link
0,How AI is Changing Data Analytics,Published: 2025-10-20,Artificial Intelligence (AI) has become a majo...,https://example.com/blog/ai-data
1,Top 5 Tools for Data Visualization,Published: 2025-09-18,"Data visualization tools like Power BI, Tablea...",https://example.com/blog/visualization-tools

In [45]:
for row in rows:
    print(row.td.text.strip())

Alice Johnson
Robert Brown
Maria Lopez

In [50]:
for blog in recent_blogs:
    title=blog.h3.text.strip()
    date=blog.find_all('p')[0].text.strip()
    content=blog.find_all('p')[1].text.strip()
    link=blog.a['href']
    print(title, date, content, link)

How AI is Changing Data Analytics Published: 2025-10-20 Artificial Intelligence (AI) has become a major part of modern data analytics. From automated reporting to predictive modeling, AI is revolutionizing how analysts work. https://example.com/blog/ai-data
Top 5 Tools for Data Visualization Published: 2025-09-18 Data visualization tools like Power BI, Tableau, and matplotlib help transform raw data into actionable insights with clarity and efficiency. https://example.com/blog/visualization-tools